<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
  
    http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.  
-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.Mapper">
  <insert id="insert">
    insert into person
    (id, name1, name2, name3, name4, name5, name6, name7, name8, name9)
    values
    (#{id}, #{name1}, #{name2}, #{name3}, #{name4}, #{name5}, #{name6}, #{name7},
    #{name8}, #{name9})
  </insert>
  <insert id="insertMultiRow">
    insert into person
    (id, name1, name2, name3, name4, name5, name6,
    name7, name8, name9)
    values
    <foreach item="item" collection="list" separator=",">
      (#{item.id}, #{item.name1},
      #{item.name2}, #{item.name3},
      #{item.name4}, #{item.name5},
      #{item.name6}, #{item.name7},
      #{item.name8}, #{item.name9})
    </foreach>
  </insert>
  <insert id="insertMultiRow" databaseId="oracle">
    insert all
    <foreach item="item" collection="list">
      into person (id, name1, name2, name3, name4, name5, name6,
      name7, name8, name9) values
      (#{item.id}, #{item.name1}, #{item.name2}, #{item.name3},
      #{item.name4}, #{item.name5}, #{item.name6}, #{item.name7},
      #{item.name8}, #{item.name9})
    </foreach>
    select * from dual
  </insert>
</mapper>
